In [ ]:
a=1

In [5]:
a='1'
b="2"
print(a)
#print statement is used to debug
type(a)

1

str

In [2]:
print(type(a))

<class 'str'>

In [6]:
def add(a,b): #here a,b are 
    return(a+b)
    print(a+b)

In [7]:
show()

NameError: name 'show' is not defined

In [37]:
st = 'Harjeet Brar'
marks=7
age=23

In [9]:
print(ord('C'))

67

In [13]:
print(chr(64))

@

In [29]:
a=1000 #the id number will be the same until the number entered is in between -5 and 255
b=1000
c=1000

In [30]:
print(id(a))

106878192

In [31]:
print(id(b))

106878832

In [32]:
print(id(c))

106878000

In [33]:
def calculator(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    div=a/b
    
    return add, sub, mul, div

In [34]:
a, b, c, d=calculator(5, 10)

In [35]:
print(a,b,c,d)

15 -5 50 0.5

In [38]:
print(st,marks,age)

Harjeet Brar 7 23

In [40]:
print("My name is",st,"and my marks are",marks,"and my age is",age)

My name is Harjeet Brar and my marks are 7 and my age is 23

In [42]:
print("My name is {} and my marks are {} and my age is {}".format(st,marks,age))

My name is Harjeet Brar and my marks are 7 and my age is 23

In [44]:
print(f"My name is {st} and my marks are {marks} and my age is {age}")

My name is Harjeet Brar and my marks are 7 and my age is 23

In [45]:
print(st)

Harjeet Brar

In [46]:
st = "Good Morning" #Overiding previously stored data in a variable

In [47]:
print(st)

Good Morning

In [48]:
inp=input()
print(inp)

1
1

In [49]:
temp=input()

1

In [50]:
if a==10:
    print("Hello")
else:
    print("Hi")

Hi

In [52]:
temp=input()

 yes

In [53]:
if temp=="yes":
    print("YES")
else:
    print("NO")

NO

In [54]:
print(temp)

 yes

In [55]:
print(temp[0])

In [56]:
temp.strip()

'yes'

In [57]:
st = "Good Morning"
print(temp.strip())

yes

In [58]:
print(st.strip())

Good Morning

In [59]:
st = "My name is Harjeet Brar"

In [60]:
print(st.split(" "))

['My', 'name', 'is', 'Harjeet', 'Brar']

In [61]:
print(st.replace("Harjeet","Gurpreet"))

My name is Gurpreet Brar

In [69]:
a="aaaaaaaafffffffffffwwwwwwww"
print(a.count('f'))

11

In [2]:
#List
a=[1,2,3,"Hi",print]

In [3]:
print(a[0], a[1], a[2], a[3])

1 2 3 Hi

In [4]:
a[4]("Hello World") #This is picking up index value 4 from line In [2]

Hello World

In [6]:
b=[1,2,3,4,5,6,7]
print(b[-2])

6

In [8]:
print(b[2:4])

[3, 4]

In [9]:
print(b[0:6:2])

[1, 3, 5]

In [10]:
b

[1, 2, 3, 4, 5, 6, 7]

In [11]:
temp = input()

10

In [12]:
print(b)

[1, 2, 3, 4, 5, 6, 7]

In [13]:
temp = input() #append function is used to insert another value at the end
b.append(temp)

11

In [14]:
print(b)

[1, 2, 3, 4, 5, 6, 7, '11']

In [15]:
b.insert(1,100) #This function is used to insert a value the first value defines the index number 
#and the second value defines the number itself that is to be inserted

In [16]:
print(b)

[1, 100, 2, 3, 4, 5, 6, 7, '11']

In [17]:
temp = int(input()) #typecasting
b.append(temp)

1000

In [18]:
print(b)

[1, 100, 2, 3, 4, 5, 6, 7, '11', 1000]

In [19]:
b.pop() #pop function also removes the specified value from the list, without specifying it omits the last value by default

1000

In [20]:
print(b)

[1, 100, 2, 3, 4, 5, 6, 7, '11']

In [21]:
b.remove(7) #It removes the value directly from the list without using its index number to locate it

In [24]:
b[-1] = int(b[-1])
print(b)

[1, 100, 2, 3, 4, 5, 6, 11]

In [25]:
sort_list = sorted(b)

In [26]:
sort_list

[1, 2, 3, 4, 5, 6, 11, 100]

In [27]:
#TUPLES
tup = (1,2,3)

In [28]:
print(tup)

(1, 2, 3)

In [29]:
print(tup[1])

2

In [ ]:
#Tuples are immutable

In [31]:
#Dictionaries
d = {
    "name":"Harjeet",
    "age":23,
    "marks":70
}

In [32]:
print(d)

{'name': 'Harjeet', 'age': 23, 'marks': 70}

In [33]:
marks = "marks"
d[marks]

70

In [44]:
print(d.items())

dict_items([('name', 'Harjeet'), ('age', 23), ('marks', 70)])

In [45]:
for i, j in d.items():
    print(i,j)

name Harjeet
age 23
marks 70

In [35]:
print(range(10))

range(0, 10)

In [41]:
for i in range(5,10):
    print(i)
    if i==5:
        print("FIVE")

5
FIVE
6
7
8
9

In [42]:
b

[1, 100, 2, 3, 4, 5, 6, 11]

In [43]:
for i in b:
    print(i)

1
100
2
3
4
5
6
11

In [46]:
d

{'name': 'Harjeet', 'age': 23, 'marks': 70}

In [47]:
print(d.keys())

dict_keys(['name', 'age', 'marks'])

In [48]:
for i in d.keys():
    print(i)

name
age
marks

In [49]:
print(d.values())

dict_values(['Harjeet', 23, 70])

In [50]:
#Exercise question given by sir to solve as either classwork or homework
a = {
    "name":"Harjeet",
    "age":34,
    "marks":75
}
b = {
    "name":"Abhijeet",
    "age":23,
    "marks":90
}

In [ ]:
for i in range(3):
    name = input("Enter your name = ")
    age = int(input("Enter your age = "))
    marks = int(input("Enter your marks = "))

In [62]:
def add(a,b,*args): #args function is used to 
    print(a+b)
    print(args)

In [63]:
add(1,2,3,4)

3
(3, 4)

In [93]:
def add(a=1, b=2, *args,**kwargs):
    print(a+b)
    print(args)
    print(kwargs)

In [94]:
add()

3
()
{}

In [96]:
add(100,50)

150
()
{}

In [97]:
add(100,50,75)

150
(75,)
{}

In [100]:
add(1, 2, 55, no=100)

3
(55,)
{'no': 100}

In [5]:
a = {
    "name":"Harjeet",
    "age":34,
    "marks":75
}
b = {
    "name":"Abhijeet",
    "age":23,
    "marks":90
}

In [7]:
for x in b:
  a.append(x) #Cannot use append function with a dictionary
print(a)

AttributeError: 'dict' object has no attribute 'append'

In [9]:
students = []
num = int(input("Enter a Number = "))
for x in range(num):
    name = input("Enter Your Name = ")
    roll = int(input("Enter Roll Number = "))
    branch = input("Enter Branch = ")
    students.append({
        "name": name,
        "roll": roll,
        "branch": branch
    })

Enter a Number = 2
Enter Your Name = Harjeet
Enter Roll Number = 10
Enter Branch = Bathinda
Enter Your Name = Gurpreet
Enter Roll Number = 15
Enter Branch = Goniana

In [10]:
a = {1,2,3,4}

In [11]:
type(a)

set

In [12]:
b = {4,5,6,7,8}

In [13]:
type(b)

set

In [14]:
b

{4, 5, 6, 7, 8}

In [15]:
a.intersection(b)

{4}

In [16]:
print(a.union(b)) #Union function doesn't display repeating numbers/values

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
a = [0,1,1,1,1,2,2,2,3,4,5,6,7,8,9,0]

In [32]:
print(len(a))
type(a)

16

list

In [33]:
print(set(a))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
print(type(a))

<class 'list'>

In [35]:
a = list(set(a))

In [36]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
len(a)

10